<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Cart</a></li>
  <li role="presentation"><a href="#">Login</a></li>
</ul>