<!DOCTYPE html>
<html>
<div align="center">
	<div class="col">
		<h1> Add Products</h1>
		<% if(errors){%>
			<ul>
			<% errors.forEach(function(error){ %>
				<li><%=error.msg %> </li>
			<% }) ;%>
			</ul>
		<%} %>
		<hr>
		<form action="product" method="POST" enctype="multipart/form-data">
		<div>
			<label >Product Name</label><br>
			<input type="text" id="name" name="name" ></input>
		</div>

		<div>
			<label >Description</label><br>
			<input type="text" id="description" name="description"  ></input>
		</div>

		<div>
			<label >Catagory</label><br>
			<input type="text" id="category" name="category" placeholder="Type of Product" ></input>
		</div>

		<div>
			<label >Price</label><br>
			<input type="Number" id="price" name="price"> </input>
		</div>

		<div>
			<label >Quantity</label><br>
			<input type="Number" id="qty" name="qty" ></input>
		</div>

		<div>
			<label >Image</label><br>
			<input type="file" id="image" name="imagePath">
		</div>
		
			<br>
			<input type="submit"  value="submit">
			<!-- <a href='index'><button >Go To Home</button></a> -->

           

		</form>
	</div>
</div>

</html>

	